<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetExplorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NetExplorer.My.MySettings>
            <setting name="Wyszukaj" serializeAs="String">
                <value>https://www.google.pl/search?q=</value>
            </setting>
            <setting name="Historia" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://www.google.pl/search?q=g&amp;oq=g&amp;aqs=chrome.0.69i59j69i60l4j69i59.1048j0j8&amp;sourceid=chrome&amp;ie=UTF-8</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Domowa" serializeAs="String">
                <value>https://www.google.pl/</value>
            </setting>
        </NetExplorer.My.MySettings>
    </userSettings>
</configuration>